
# Personal Files
General/WIFI_Request_Application-Filled.pdf
General/WIFI_Request_Application-Filled-Wrong.pdf
IEEE/Membership

# Practical Submissions
Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY22/Submissions/
Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY21/Submissions
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY22/Submissions/
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY21/Submissions

Courses/SCS1310-Object_Oriented_Modelling_and_Programming/Practicals/AY22/Submissions/
Courses/SCS1312-Operating_System_Concepts/Practicals/AY22/Submissions/



