
# Personal Files
General/WIFI_Request_Application-Filled*
General/Enrolment_Application_Form.pdf
Examination/*Examination_Admission*
IEEE/Membership
Courses/SCS1308-Foundations_of_Algorithms/Other/Group_Segregation
Orientation_Program/

# Submissions
Courses/ENH1301-Application_Laboratory/Practicals/Submissions
Courses/ENH1301-Application_Laboratory/Assignments/Submissions

Courses/ENH1302-Communication_Skills/Assignment/Presentation

Courses/ENH1303-Aesthetic_Studies/AY21/Assignments/Submissions

Courses/SCS1301-Data_Structures_and_Programming_in_C/Practicals/Submissions
Courses/SCS1301-Data_Structures_and_Programming_in_C/Assignment/Submissions

Courses/SCS1302-Discrete_Mathematics/Assignments/Submissions

Courses/SCS1303-Introduction_to_Software_Engineering/Practicals/Submissions
Courses/SCS1303-Introduction_to_Software_Engineering/Assignment/Submissions

Courses/SCS1304-Problem_Solving_Strategies_and_Computaion_Approaches/Turorials/Submissoins

Courses/SCS1305-Computer_Systems/Tutorials/Submissions

Courses/SCS1306-Linear_Algebra/MIT_Lectures

Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY22/Submissions
Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY21/Submissions
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY22/Submissions
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY21/Submissions

Courses/SCS1309-Database_Management_Systems/Practicals/AY22/Submissions
Courses/SCS1309-Database_Management_Systems/Practicals/AY21/Submissions
Courses/SCS1309-Database_Management_Systems/Assignments/AY21/Presentation

Courses/SCS1310-Object_Oriented_Modelling_and_Programming/Practicals/AY22/Submissions
Courses/SCS1310-Object_Oriented_Modelling_and_Programming/Practicals/AY21/Submissions

Courses/SCS1311-Internet_and_Web_Technologies/Assignments/AY22/Submissions
Courses/SCS1311-Internet_and_Web_Technologies/Assignments/AY21/Submissions
Courses/SCS1311-Internet_and_Web_Technologies/Practicals/AY22/Submissions
Courses/SCS1311-Internet_and_Web_Technologies/Practicals/AY21/Submissions

Courses/SCS1312-Operating_System_Concepts/Practicals/AY22/Submissions/
Courses/SCS1312-Operating_System_Concepts/Practicals/AY21/Submissions/


# Useless Shit

Notes/UCSC/Open Notebook.onetoc2
Notes/UCSC/Random_Notes.one


# Executables

*.exe
*.out


