
# Personal Files
General/WIFI_Request_Application-Filled.pdf
General/WIFI_Request_Application-Filled-Wrong.pdf
IEEE/Membership

# Submissions
Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY22/Submissions/
Courses/SCS1308-Foundations_of_Algorithms/Assignments/AY21/Submissions
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY22/Submissions/
Courses/SCS1308-Foundations_of_Algorithms/Tutorials/AY21/Submissions

Courses/SCS1309-Database_Management_Systems/Practicals/AY22/Submissions
Courses/SCS1309-Database_Management_Systems/Practicals/AY21/Submissions
Courses/SCS1309-Database_Management_Systems/Assignments/AY21/Presentation

Courses/SCS1310-Object_Oriented_Modelling_and_Programming/Practicals/AY22/Submissions/

Courses/SCS1312-Operating_System_Concepts/Practicals/AY22/Submissions/



